body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(top left, #33799d, #e8ebb4);
  color: #000;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* circle */
.circles {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: 0 auto;
  top: 80px;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
  z-index: 2;
}

.bloger_img {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: 0 auto;
  top: 80px;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

.bloger_img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
}

.circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
  mix-blend-mode: screen;
}

.circle:nth-child(1) {
  border-color: #DB4437;
  transform-origin: 50% 50%;
  animation: spin1 5.5s linear infinite;
}

.circle:nth-child(2) {
  border-color: #F4B400;
  transform-origin: 50% 50%;
  animation: spin2 5.5s linear infinite;
}

.circle:nth-child(3) {
  border-color: #4285F4;
  transform-origin: 50% 50%;
  animation: spin3 5.5s linear infinite;
}

.circle:nth-child(4) {
  border-color: #0F9D58;
  transform-origin: 50% 50%;
  animation: spin4 5.5s linear infinite;
}

@keyframes spin1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(72deg);
  }

  100% {
    transform: rotate(-288deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(-144deg);
  }

  100% {
    transform: rotate(216deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(216deg);
  }

  100% {
    transform: rotate(-144deg);
  }
}

.bloger_bn {
  text-align: center;
  margin-top: 100px;
}